<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/OnlineShop?useSSL=false"/>
        <property name="username" value="jgac"/>
        <property name="password" value="jgac"/>
    </bean>

    <bean id="hibernate5AnnotatedSessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="annotatedClasses">
            <list>
                <value>com.mateuszb.onlineShop.dto.Form</value>
                <value>com.mateuszb.onlineShop.dto.Role</value>
                <value>com.mateuszb.onlineShop.dto.ProductDao</value>
                <value>com.mateuszb.onlineShop.dto.Manufacture</value>
                <value>com.mateuszb.onlineShop.dto.Category</value>
                <value>com.mateuszb.onlineShop.dto.Logs</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect" >org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.current_session_context_class">thread</prop>
                <prop key="hibernate.show_sql">false</prop>
            </props>
        </property>
    </bean>

    <bean id="formDAO" class="com.mateuszb.onlineShop.dao.impl.FormDAOImpl">
        <property name="sessionFactory" ref="hibernate5AnnotatedSessionFactory"/>
    </bean>

    <bean id="roleDAO" class="com.mateuszb.onlineShop.dao.impl.RoleDAOImpl">
        <property name="sessionFactory" ref="hibernate5AnnotatedSessionFactory"/>
    </bean>

    <bean id="productDAO" class="com.mateuszb.onlineShop.dao.impl.ProductDAOImpl">
        <property name="sessionFactory" ref="hibernate5AnnotatedSessionFactory"/>
    </bean>

    <bean id="manufactureDAO" class="com.mateuszb.onlineShop.dao.impl.ManufacutreDAOImpl">
        <property name="sessionFactory" ref="hibernate5AnnotatedSessionFactory"/>
    </bean>

    <bean id="categoryDAO" class="com.mateuszb.onlineShop.dao.impl.CategoryDAOImpl">
        <property name="sessionFactory" ref="hibernate5AnnotatedSessionFactory"/>
    </bean>

    <bean id="logsDAO" class="com.mateuszb.onlineShop.dao.impl.LogsDAOImpl">
        <property name="sessionFactory" ref="hibernate5AnnotatedSessionFactory"/>
    </bean>

</beans>